* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}
a{
  color: rgb(247, 125, 55);
}
.top {
  padding:1%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: left;
  inline-size: 100%;
  background-color: rgb(39, 39, 39);
  height: minmax(10%, 50%);
  width: 100%;
  border-bottom:solid rgb(136, 136, 136) 1px;
}
.topitem{
  color: white;
  padding: 2%;
  font-size: xx-large;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.tec{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 2%;
  background: rgb(254,113,20);
  background: linear-gradient(148deg, rgba(254,113,20,1) 0%, rgba(57,57,57,1) 100%);
  height: minmax(20%, 50%);
  width: 100%;
}
.text{
  color: white;
  padding: 1%;
  font-size: 200%;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}